<div class="col-md-7 col-md-pull-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>Some Task</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Some Task</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Some Task</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Some Task</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Some Task</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Some Task</th>
      </tr>
    </tbody>
  </table>
</div>